<!DOCTYPE html>
<html>
    <head>
    	<title>Coding Journey</title>
    	<%= stylesheet_link_tag 'applicmaination', media: 'all',
                                       'data-turbolinks-track' => true %>
    </head>
    <body>
    
    	<header>
    		<nav>
    			<h1 class="secondary">How I Learned to Code</h1>
    				<ul>
    					<li><a href="aboutme.html">About Me</a></li>
    					<li><a href="htmlnotes.html">HTML Notes</a></li>
    					<li><a href="cssnotes.html">CSS Notes</a></li>
    					<li><a href="rubynotes.html">Ruby Notes</a></li>
    				</ul>	
    		</nav>
    	</header>
    
    	<div class="slider">
    		<div class="sliderheading">Dare to Dream</div>
    			<div class="body">
    				
    			</div>
    	</div>
    
    	<div class="row">
    		<div class="col"><h2><a href="onlineclasses.html">Online Classes:</a></div>
    		<div class="col"><h2>Community Support:</h2></div>
    		<div class="col"><h2>Accountability:</div>
    	</div>
    
    	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    </body>
</html>